<nav class="menu">
    <div class="menu__logo"><img src="/galery/logo.svg" alt="logo" /></div>
    <ul class="menu__list list">
        <li class="list__btn">
            <button class="btn_secondary" onclick="toggleModal('show')">Cadastrar buraco</button>
        </li>
        <li class="list__item"><a href="index.html">Todos</a></li>
        <li class="list__item"><a href="my-issues.html">Meus envios</a></li>
        <li class="list__logo"><a href="profile.html"><img src="/galery/profile.svg" alt="profile" /></a></li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="newIssue" tabindex="-1"
    aria-labelledby="Formulário para cadastro de um novo item" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
            <div class="form-title">
                <h2>Cadastrar buraco</h2>
                <button type="button" class="close" aria-label="Close" onclick="toggleModal('hide')">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div id="modal-form"></div>
        </div>
        </div>
    </div>
</div>

<style>
    @import url(/style/form.css);
</style>